 <!-- Footer -->
 <hr>
<footer>
    <div class="container">
		
    	<div class="row">
        	<div class="col-4">
				<li><a href="https://php.jiny.dev">PHP</a></li>
				<li><a href="https://mysql.jiny.dev">Mysql</a></li>
			</div>
			<div class="col-4">
				<li><a href="https://HTML5.jiny.dev">HTML5</a></li>
					<li><a href="https://javascript.jiny.dev">Javascript</a></li>
			</div>

			<div class="col-4">
				<ul>			
					<li><a href="https://git.jiny.dev">Git & Github</a></li>
				</ul>
			</div>
    	</div>
	</div>
	<br>

	<p class="m-0 text-center">Copyright &copy; jinydev 2020</p>
	
    <!-- /.container -->
</footer>